<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="11000">
		<setting id="uid" type="text" label="11003" default="" />
		<setting id="pwd" type="text" label="11004" option="hidden" default="" />
		<setting id="separator" type="lsep" label=""/>
		<setting id="tsd" type="labelenum" values="0|1|2|3|4|5|6|7|8|9|10|11" label="11007" default="0" />
		<setting id="br" type="labelenum" values="Стандарт|Мобильный|HLS Авто|HLS Стандарт|HLS Мобильный" label="11006" default="high" />
		<setting id="dc" type="labelenum" values="Europe|Europe North|Israel|USA West|USA East" label="11008" default="Europe" />
	</category>
	<category label="11001">
		<setting id="view_mode" type="bool" label="11010" default="true"/>
		<setting id="view_epg" type="bool" label="11011" default="true"/>
		<setting id="view_date" type="bool" label="11012" default="true"/>
		<setting id="use_percent" type="bool" label="11013" default="true"/>
		<setting id="use_time" type="bool" label="11014" default="true"/>
		<setting id="serial" type="text" label="serial" default="" visible="false" />
		<setting id="arch_on" type="bool" label="arch_on" default="" visible="false" />
	</category>
	<category label="11020">
		<setting id="plenable" type="bool" label="11025" default="false"/>
		<setting id="rplist" type="text" label="11021" default="" enable="eq(-1,true)"/>
		<setting id="tfolder" type="folder" label="11022" default="" enable="eq(-2,true)"/>
		<setting id="tplist" type="text" label="11023" default="r_pl.m3u" enable="eq(-3,true)"/>
		<setting id="tepg" type="text" label="11024" default="r_epg.xml" enable="eq(-4,true)"/>
		<setting id="pldelta" type="slider" label="11029" default="3" range="1,1,12" option="int" enable="eq(-5,true)"/>
		<setting id="tlogo" type="text" label="tlogo" default="" visible="false"  enable="eq(-6,true)"/>
		<setting label="11026" type="lsep" enable="eq(-7,true)"/>
		<setting label="11027" type="action" action="RunScript(plugin.video.rodina.tv, 99, mode=magic)" enable="eq(-8,true)"/>
		<setting label="11040" type="lsep" enable="eq(-9,true)"/>
		<setting label="11041" type="action" action="RunScript(plugin.video.rodina.tv, 99, mode=playlist)" enable="eq(-10,true)"/>
		<setting label="11042" type="action" action="RunScript(plugin.video.rodina.tv, 99, mode=setiptv)" enable="eq(-11,true)"/>
		<setting label="11043" type="action" action="RunScript(plugin.video.rodina.tv, 99, mode=reload)" enable="eq(-12,true)"/>
	</category>	
	<category label="11030">
		<setting id="dbg" type="bool" label="11031" default="true"/>
		<setting id="dbglvl" type="labelenum" values="1|2|3|4|5" label="11032" default="1" enable="eq(-1,true)"/>	
	</category>		
</settings>